body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(61, 74, 194), rgb(255, 255, 255)) repeat scroll 0% 0%;
}

.navbar {
  display: flex;
  justify-content: stretch;
}

.navbar ul {
  display: flex;
  flex: 1 1;
}

ul li {
  font-size: 1.3rem;
  margin: 0.5rem;
}

ul li:first-child {
  margin-right: auto;
}

.bio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 30vh;
}

.bio > .avatar {
  display: inline-block;
  text-align: center;
  /* flex: 1 1; */
  min-width: 8rem;
  min-height: 8rem;
  border: 1px solid gray;
  border-radius: 70px;
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 1 10%;
}

.intro .name {
  flex: 1 0 100%;
}

.intro .occupation {
  flex: 1 0 100%;
}