:root {
  --font-narrative: 'Open Sans Condense', sans-serif;
  --font-header: 'Exo 2', sans-serif;
  --font-listing: 'Titillium Web', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(122, 126, 194), rgb(206, 212, 236)) repeat scroll 0% 0%;
  font-family: var(--font-narrative);
  font-size: calc(15px + 0.5vw);
}

.appWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: stretch;
  font-family: 'Exo 2', sans-serif; 
  position: sticky;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(61, 74, 194) 0%, rgba(34,126,229,0.87) 95%, rgba(32,124,229,0.87) 50%);
}

.navbar ul {
  display: flex;
  flex: 1 1;
  color: whitesmoke
}

.navbar ul li {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.navbar ul li:first-child {
  margin-right: auto;
}

/* Banner */
.banner {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
}

.avatar {
  flex: 0 1 10rem;
  max-width: 10rem;
  border: 3px solid whitesmoke;
  border-bottom: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.intro {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 2 1 35%;
  min-width: 14rem;
}

.name {
  flex: 0 100%;
  padding: 0 1rem 0 1rem;
  white-space: nowrap;
  font-family: var(--font-header);
}

.occupation {
  display: inline;
  flex: 0 100%;
  padding: 0 1rem 0 1rem;
  font-family: 'Montserrat', sans-serif;
}

.motto-wrap {
  align-self: center;
  display: flex;
  flex: 0 auto;
  padding: 0 1rem 0 1rem;
}

.motto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  overflow: hidden; 
  white-space: nowrap; 
  animation: 
    typing 3.5s steps(40, end)
}

.motto span {
  display: block;
  width: 100%;
  text-align: right;
}

/* Text */
.narrative {
  margin: 0.5rem;
  font-weight: 400
}

.narrative p {
  text-indent: 2rem;
}

.narrative h4 {
  text-align: end;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin: 0.5rem;
}

/* Bio */
 .section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 0 0 10px 10px;
} 

.bio li {
  font-family: var(--font-listing)
}

blockquote {
  line-height: 1.1;
}

/* Controls */
.toggle-icon {
  width: 1rem;
  align-self: center;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.dropdown-text {
  text-align: center;
  margin: 0.5rem 0 0.3rem;
  font-family: var(--font-header);
  cursor: pointer;
  flex: 0 100%;
}

/* Projects */
/* .projects {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr) ;
  grid-template-rows: auto ;
} */

.project-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  grid-area: name;
  background-color: whitesmoke;
  border: 3px solid #6666ff;
  border-right: 1.5;
  border-radius: 10px 10px 0 0;
}

.project-name a {
  padding: 0.3rem;
  font-family: var(--font-header);
}

.border-mapmybox {
  border: 3px solid #727174
}

.border-mapmybox-img {
  border-top-width: 0px;
}

.border-github_finder {
 border: 3px solid #df4a57
}

.border-github_finder-img {
  border-top-width: 0px;
}

.border-contact_keeper {
  border: 3px solid #1c4ba1
}

.border-contact_keeper-img {
  border-top: 0;
}

.project-descr {
  grid-area: descr;
  margin: 0.5rem;
}

.project-tech {
  grid-area: tech;
}

.project-scr {
  grid-area: scr;
}

.project-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto ;
  grid-template-areas: 
    "name name"
    "scr scr"
    "scr scr"
    "descr descr"
    "tech tech";
  margin: 1rem 3rem 2rem 3rem;
}

.project-item img {
  min-width: 100%; 
  max-width: 100%; 
}

/* Tooltip */
.tooltip {
  position: relative;
  display: flex;
  font-family: var(--font-header);
  border-bottom: 2px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-family: var(--font-header);
  font-weight: 400;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 20rem;
  top: 100%;
  left: 50%;
  margin-left: -4rem;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

/* Techlist */
.techlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.techlist div {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.5rem;
}

.techlist-header {
  margin: 0.3rem;
}

.techlist li {
  font-family: var(--font-listing);
}

.techlist-item {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(163, 165, 197), transparent) repeat scroll 0% 0%;
  border: 3px transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Media queries */
@media (max-width: 765px) { 
  .motto-wrap { 
    display: none;
  }
}

@media (max-width: 435px) {
  .name {
    white-space: pre-wrap;
    font-size: 1.8rem;
    text-align: center;
  }

  .occupation {
    margin: auto;
    text-align: center;
  }

  .avatar {
    justify-self: center;
    margin: 0 auto;
  }
}

@media (max-width: 403px) {
  .name {font-size: calc(28px - 0.7vw)
  } 

  .occupation {
    font-size: calc(19 - 0.7vw)
  }
}

@media (max-width: 383px) {
  .name {
    white-space: pre-wrap;
  }
  .avatar {
    border: 0;
    margin-top: 0.6rem;
  }
}